* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1024px;
  margin: auto;
}

nav {
  background-color: #ffb534;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}
